html {
    font-family: sans-serif;
  }
  body{
    width: 80%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
  }
  .game{
    display: flex;
  }
  .userScore{
    min-width: 250px;
    margin-top: 80px;
    margin-left: 50px;
  }
  .lastResult {
    color: white;
    padding: 6px;
  }
  .reset{
    display: block;
  }